@import "tailwindcss";

.main{
    flex-grow: 4;
}
h2{
    font-weight: 800;
    font-style: Extra Bold;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0%;
}
h3{
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}
.bg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.about-info h2{
    font-size: 25px;
    line-height: normal;
    font-weight: 500;
}
.Simple{
    background-color: #E17654;
}
.Luxury{
    background-color:#222222;
} 
.Rugged{
    background-color: #115E59;
}